<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Cogmento CRM">
    
    <parameter name="browser" value="chrome"/>

    <test name="Master Test" >
        <classes>
            <class name="testPageLib.homePageTest.HomePageTest"/>
<!--            <class name="testPageLib.loginPageTest.LoginPageTest"/>-->
<!--            <class name="testPageLib.aboutPageTest.AboutPageTest"/>-->
        </classes>
    </test>

</suite>
